/* body{
    background-color: rgb(230, 224, 224) !important;
}

.shead{
    color: black !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px !important;
    text-decoration: underline !important;
    background-color: rgb(235, 232, 232) !important;
}

.chead{
    color: black !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px !important;
    text-decoration: underline !important;
    background-color: rgb(235, 232, 232) !important;
}

.ahead{
    color: black !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px !important;
    text-decoration: underline !important;
    background-color: rgb(235, 232, 232) !important;
}

.rhead{
    color: black !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px !important;
    text-decoration: underline !important;
    background-color: rgb(235, 232, 232) !important;
}

.dhead{
    color: black !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px !important;
    text-decoration: underline !important;
    background-color: rgb(235, 232, 232) !important;
} */

/* .container{
    width: 50% !important;
    margin-left: 23% !important;
    margin-top: 30px !important;
} */

/* .state{
    color: black !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px !important;
    background-color: rgb(235, 232, 232) !important;
    padding-left: 10px !important;
    
} */

/* .confirmed{
    color: red !important;
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
    padding-left: 35px !important;
    background-color: rgb(245, 243, 243) !important;
}

.active{
    color: rgb(61, 125, 245) !important;
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
    padding-left: 15px !important;
    background-color: rgb(245, 243, 243) !important;
}

.recovered{
    color: rgb(33, 141, 33) !important;
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
    padding-left: 40px !important;
    background-color: rgb(245, 243, 243) !important;
}

.deaths{
    color: grey !important;
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
    padding-left: 30px !important;
    background-color: rgb(245, 243, 243) !important;
} */

/* .header{
    text-align: center;
    font-size: 50px;
    margin-top: -25px;
    margin-bottom: -45px;
    background-color: rgb(230, 224, 224) !important;
    color: black;
    padding: 5px 0;
    text-decoration: underline;
} */

.span{
    color: rgb(214, 3, 3);
}

.search{
    margin-top: 20px;
    text-align: center !important;
}

/* .footer{
    text-align: center;
    color: black !important;
    background-color:  rgb(230, 224, 224) !important;
    padding: 10px 0;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif !important;
} */

/* .ccontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif !important;
} */

/* .cconfirmed{
    color: red;
    margin-right: 70px;
    font-family: 'Open Sans', sans-serif !important;
}

.crecovered{
    color: green;
}

.cdeath{
    color: grey;
    margin-left: 70px;
}

.cactive{
    color: rgb(61, 125, 245);
    margin-right: 70px;
}

.dconfirmed{
    margin-left: 15px;
    font-size: 14px;
}

.drecovered{
     margin-left: 15px;
    font-size: 14px;
}

.ddeath{
    margin-left: 10px;
    font-size: 14px;
}

.dactive{
    margin-left: 35px;
}

.aactive{
     margin-left: 15px;
    font-size: 14px;
}

.aconfirmed{
    margin-left: 8px;
} */


@media(max-width: 770px){
    .container{
        width: 100% !important;
        margin-left: -1px !important;
        overflow-x: hidden !important;
    }

    input{
        width: 80%;
        padding: 15px 0;
    }

    .state{
        position: absolute !important;
        padding-right: 30px !important;
        width: 6em !important;
        padding-bottom: 40px !important;
        background-color: rgb(235, 232, 232) !important;
    }

    .shead{
        width: 6em !important;
        position: absolute !important;
    }

    .chead{
        padding-left: 150px !important;
    }

    .confirmed{
        padding-left: 170px !important;
    }
}