.container{
    width: 100% !important;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-right: -30px !important;
    /* text-align: center !important; */

}

.cgrid{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    margin-right: 50px !important;
    width: 10% !important;
}

.agrid{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    margin-top: -67px !important;
    width: 10% !important;
}

.rgrid{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    margin-right: 50px !important;
    margin-left: 50px !important;
    width: 10% !important;
}

.dgrid{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    margin-right: 50px !important;
    width: 10% !important;
}

.confirmed{
    color: red !important;
    font-size: 18px !important;
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif !important;
    padding-bottom: 10px !important;
}

.dconfirmed{
    color: red !important;
    font-size: 18px !important;
    padding-bottom: 10px !important;
    font-family: 'Poppins', sans-serif !important;
}

.tconfirmed{
    color: red !important;
    font-size: 22px !important;
    font-family: 'Poppins', sans-serif !important;

}

.active{
    color: rgb(61, 125, 245) !important;
    font-size: 18px !important;
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif !important;
    /* margin-top: 50px !important; */
}

.tactive{
    color: rgb(61, 125, 245) !important;
    font-size: 22px !important;
    font-family: 'Poppins', sans-serif !important;
    /* padding-top: 10px !important; */
}


.recovered{
    color: green !important;
    font-size: 18px !important;
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif !important;
    padding-bottom: 10px !important;
}

.drecovered{
    color: green !important;
    font-size: 18px !important;
    font-family: 'Poppins', sans-serif !important;
}

.trecovered{
    color: green !important;
    font-size: 22px !important;
    font-family: 'Poppins', sans-serif !important;

}

.deaths{
    color: grey !important;
    font-size: 18px !important;
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif !important;
    padding-bottom: 10px !important;
}

.ddeaths{
    color: grey !important;
    font-size: 18px !important;
    font-family: 'Poppins', sans-serif !important;
}

.tdeaths{
    color: grey !important;
    font-size: 22px !important;
    font-family: 'Poppins', sans-serif !important;

}

@media(max-width:770px){
    body {
        overflow-x: hidden;
      }

    .container{
        width: 89% !important;
        margin-left: 45px !important;
    }

    .confirmed{
        font-size: 12px !important;
    }

    .active{
        font-size: 12px !important;
    }

    .recovered{
        font-size: 12px !important;
    }

    .deaths{
        font-size: 12px !important;
    }

    .dconfirmed{
        font-size: 14px !important;
    }

    .drecovered{
        font-size: 14px !important;
    }

    .ddeaths{
        font-size: 14px !important;
    }

    .tconfirmed{
        font-size: 18px !important;
    }

    .tactive{
        font-size: 18px !important;
    }

    .trecovered{
        font-size: 18px !important;
    }

    .tdeaths{
        font-size: 18px !important;
    }

    .cgrid{
        margin-left: 10px !important;
    }

    .agrid{
        margin-left: 13px !important;
        margin-bottom: -67px !important;
    }

    .rgrid{
        margin-left: 65px !important;
    }
    .dgrid{
        margin-left: 8px !important;
    }

}